

<div>
    <h2>
        <span>Spark Web Shell Terminal</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div  >
            <ng-terminal
            (onInit)="onInit($event)" 
            (onKey)="onKey($event)" 
            
            >
            </ng-terminal>
    </div>
    <div>

    </div>
    
    <br/>
    
    <form class="command-form">
            <mat-form-field class="command-full-width">
              <input matInput placeholder="Command" aria-label="Command" 
              [ngModel]="commandLine"
              [formControl]="commandCtrl" (keydown)="onCommandKey($event)" /> 
              
            </mat-form-field>
          
            <br />
            <mat-progress-bar *ngIf="waitingResponse" mode="indeterminate"></mat-progress-bar>
          </form>
          
    <br/>
</div>
